* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.interim{
    color: gray;
}

.final{
    color:black
}


#results {
  height: 150px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 20px 0;
  padding: 15px 15px;
}

#start_button{
    border:0;
    background-color: transparent;
    cursor : pointer;
}

#start_img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 767px){
    #langauge{
        position: relative;
    }
    #select_dialect{
        position:absolute;
        right:0;
        margin-bottom: 10px;
    }

}
